In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import math
import matplotlib.pyplot as plt
import numpy as np
from numpy.random import seed
seed(1)
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import tensorflow
#tensorflow.random.set_seed(1)
from tensorflow.python.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("output.csv")

In [6]:
df = df.drop("Unnamed: 0", axis=1)

In [ ]:
def one_hot_encode(features_to_encode, dataset):
    encoder = OneHotEncoder(sparse=False)
    encoder.fit(dataset[features_to_encode])
    encoded_cols = pd.DataFrame(encoder.transform(dataset[features_to_encode]),columns=encoder.get_feature_names())
    dataset = dataset.drop(columns=features_to_encode)
    for cols in encoded_cols.columns:
        dataset[cols] = encoded_cols[cols]
    return dataset

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
df = df.drop(["id"],axis=1)
features_to_encode = ['meal_id','city_code',"center_id",'center_type', 'category', 'cuisine']
df = one_hot_encode(features_to_encode, df)
y = df["num_orders"]
X= df.drop(["num_orders"],axis = 1)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
model = Sequential()
model.add(Dense(207, input_dim=207, kernel_initializer='normal', activation='relu'))
model.add(Dense(2670, activation='relu'))
model.add(Dense(1, activation='linear'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 207)               43056
_________________________________________________________________
dense_21 (Dense)             (None, 2670)              555360
_________________________________________________________________
dense_22 (Dense)             (None, 1)                 2671
=================================================================
Total params: 601,087
Trainable params: 601,087
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])
history=model.fit(X, y, epochs=30, batch_size=150, verbose=1, validation_split=0.1)
#predictions = model.predict(xval_scale)

Train on 410893 samples, validate on 45655 samples
Epoch 1/30
410893/410893 [==============================] - 89s 216us/step - loss: 1.7720 - mean_squared_error: 1.7720 - mean_absolute_error: 0.6070 - val_loss: 0.6966 - val_mean_squared_error: 0.6966 - val_mean_absolute_error: 0.6798
Epoch 2/30
410893/410893 [==============================] - 85s 208us/step - loss: 0.4116 - mean_squared_error: 0.4116 - mean_absolute_error: 0.5002 - val_loss: 0.4144 - val_mean_squared_error: 0.4144 - val_mean_absolute_error: 0.5157
Epoch 3/30
410893/410893 [==============================] - 86s 208us/step - loss: 0.3493 - mean_squared_error: 0.3493 - mean_absolute_error: 0.4594 - val_loss: 0.3412 - val_mean_squared_error: 0.3412 - val_mean_absolute_error: 0.4582
Epoch 4/30
410893/410893 [==============================] - 86s 209us/step - loss: 0.3270 - mean_squared_error: 0.3270 - mean_absolute_error: 0.4433 - val_loss: 0.3336 - val_mean_squared_error: 0.3336 - val_mean_absolute_error: 0.4535
Epoch 5/30
410893/410893 [==============================] - 84s 205us/step - loss: 0.3138 - mean_squared_error: 0.3138 - mean_absolute_error: 0.4340 - val_loss: 0.3425 - val_mean_squared_error: 0.3425 - val_mean_absolute_error: 0.4571
Epoch 6/30
410893/410893 [==============================] - 81s 197us/step - loss: 0.3014 - mean_squared_error: 0.3014 - mean_absolute_error: 0.4244 - val_loss: 0.3203 - val_mean_squared_error: 0.3203 - val_mean_absolute_error: 0.4516
Epoch 7/30
410893/410893 [==============================] - 86s 209us/step - loss: 0.2976 - mean_squared_error: 0.2976 - mean_absolute_error: 0.4218 - val_loss: 0.3210 - val_mean_squared_error: 0.3210 - val_mean_absolute_error: 0.4535
Epoch 8/30
410893/410893 [==============================] - 96s 233us/step - loss: 0.2924 - mean_squared_error: 0.2924 - mean_absolute_error: 0.4178 - val_loss: 0.3215 - val_mean_squared_error: 0.3215 - val_mean_absolute_error: 0.4558o - ETA: 44s - loss: 0.2913 - mean_squared_ - ETA: 36s - loss: 0.2921 - mean_squared_error: 0.2921 - mean_absolute_error: 0 - ETA: 35s - loss: 0.2923 - mean_squared_error: 0.2923 - mean_absolute_err - ETA: 35s - loss: 0.2923 - mean_squared_error: 0.2923 - mean_absolu - ETA: 34s - loss: 0.2924 - mean_squared_error: 0.2924 - mean_absolut - ETA: 32s - loss: 0.2923 - mean_s - ETA: 23s - loss: 0.2928 - mean_squared_error: 0.292 - ETA: 21s - loss: 0.2927 - mean - ETA: 18s - loss: 0.2927 - mean_squared_error: 0.2927 - ETA: 10s - loss: 0.2923 - mean_squared_error: 0.2923 - mean_absolute_error: 0.4 - ETA: 10s - loss: 0.2923 - mean_sq
Epoch 9/30
410893/410893 [==============================] - 95s 232us/step - loss: 0.2875 - mean_squared_error: 0.2875 - mean_absolute_error: 0.4138 - val_loss: 0.3095 - val_mean_squared_error: 0.3095 - val_mean_absolute_error: 0.4345- loss: 0.2892 - mean_squared_error: 0.2892 - mean_absolute_error: 0.415 - ETA: 23s - loss: 0.2892 - mean_squared_error: 0 - ETA: 1s - loss: 0.2877 - mean_squared_error: 0.2877 - mean_absolute_error: 0. - ETA: 1s - loss: 0.2877 - mean_squared_error: 0.28
Epoch 10/30
410893/410893 [==============================] - 99s 241us/step - loss: 0.2840 - mean_squared_error: 0.2840 - mean_absolute_error: 0.4109 - val_loss: 0.3037 - val_mean_squared_error: 0.3037 - val_mean_absolute_error: 0.4258
Epoch 11/30
410893/410893 [==============================] - 107s 261us/step - loss: 0.2815 - mean_squared_error: 0.2815 - mean_absolute_error: 0.4090 - val_loss: 0.2972 - val_mean_squared_error: 0.2972 - val_mean_absolute_error: 0.4234
Epoch 12/30
410893/410893 [==============================] - 102s 249us/step - loss: 0.2787 - mean_squared_error: 0.2787 - mean_absolute_error: 0.4070 - val_loss: 0.3028 - val_mean_squared_error: 0.3028 - val_mean_absolute_error: 0.4241
Epoch 13/30
410893/410893 [==============================] - 102s 248us/step - loss: 0.2773 - mean_squared_error: 0.2773 - mean_absolute_error: 0.4054 - val_loss: 0.3017 - val_mean_squared_error: 0.3017 - val_mean_absolute_error: 0.4210
Epoch 14/30
410893/410893 [==============================] - 97s 236us/step - loss: 0.2758 - mean_squared_error: 0.2758 - mean_absolute_error: 0.4042 - val_loss: 0.3090 - val_mean_squared_error: 0.3090 - val_mean_absolute_error: 0.4387
Epoch 15/30
410893/410893 [==============================] - 98s 238us/step - loss: 0.2732 - mean_squared_error: 0.2732 - mean_absolute_error: 0.4022 - val_loss: 0.3070 - val_mean_squared_error: 0.3070 - val_mean_absolute_error: 0.4417
Epoch 16/30
410893/410893 [==============================] - 98s 239us/step - loss: 0.2723 - mean_squared_error: 0.2723 - mean_absolute_error: 0.4015 - val_loss: 0.3411 - val_mean_squared_error: 0.3411 - val_mean_absolute_error: 0.4425.2723 - mean_absolute - ETA: 4s - loss: 0.2723 - mean_squared_error: 0.2723 - mean_abso - ETA: 3s - loss: 0.2722 - mean_squared_error: 0.2722 - mean_absolu
Epoch 17/30
410893/410893 [==============================] - 92s 224us/step - loss: 0.2709 - mean_squared_error: 0.2709 - mean_absolute_error: 0.4003 - val_loss: 0.2901 - val_mean_squared_error: 0.2901 - val_mean_absolute_error: 0.4153
Epoch 18/30
410893/410893 [==============================] - 86s 209us/step - loss: 0.2702 - mean_squared_error: 0.2702 - mean_absolute_error: 0.4000 - val_loss: 0.3272 - val_mean_squared_error: 0.3272 - val_mean_absolute_error: 0.4385
Epoch 19/30
410893/410893 [==============================] - 87s 211us/step - loss: 0.2677 - mean_squared_error: 0.2677 - mean_absolute_error: 0.3975 - val_loss: 0.3179 - val_mean_squared_error: 0.3179 - val_mean_absolute_error: 0.4489
Epoch 20/30
410893/410893 [==============================] - 86s 209us/step - loss: 0.2676 - mean_squared_error: 0.2676 - mean_absolute_error: 0.3978 - val_loss: 0.2897 - val_mean_squared_error: 0.2897 - val_mean_absolute_error: 0.4115
Epoch 21/30
410893/410893 [==============================] - 86s 210us/step - loss: 0.2662 - mean_squared_error: 0.2662 - mean_absolute_error: 0.3967 - val_loss: 0.3089 - val_mean_squared_error: 0.3089 - val_mean_absolute_error: 0.4250
Epoch 22/30
410893/410893 [==============================] - 88s 213us/step - loss: 0.2657 - mean_squared_error: 0.2657 - mean_absolute_error: 0.3962 - val_loss: 0.2860 - val_mean_squared_error: 0.2860 - val_mean_absolute_error: 0.4139
Epoch 23/30
410893/410893 [==============================] - 88s 215us/step - loss: 0.2648 - mean_squared_error: 0.2648 - mean_absolute_error: 0.3954 - val_loss: 0.3006 - val_mean_squared_error: 0.3006 - val_mean_absolute_error: 0.4251
Epoch 24/30
410893/410893 [==============================] - 86s 210us/step - loss: 0.2635 - mean_squared_error: 0.2635 - mean_absolute_error: 0.3944 - val_loss: 0.2924 - val_mean_squared_error: 0.2924 - val_mean_absolute_error: 0.4247
Epoch 25/30
410893/410893 [==============================] - 85s 207us/step - loss: 0.2625 - mean_squared_error: 0.2625 - mean_absolute_error: 0.3935 - val_loss: 0.3166 - val_mean_squared_error: 0.3166 - val_mean_absolute_error: 0.4523
Epoch 26/30
410893/410893 [==============================] - 92s 223us/step - loss: 0.2616 - mean_squared_error: 0.2616 - mean_absolute_error: 0.3928 - val_loss: 0.3021 - val_mean_squared_error: 0.3021 - val_mean_absolute_error: 0.4335
Epoch 27/30
410893/410893 [==============================] - 90s 220us/step - loss: 0.2616 - mean_squared_error: 0.2616 - mean_absolute_error: 0.3926 - val_loss: 0.2945 - val_mean_squared_error: 0.2945 - val_mean_absolute_error: 0.4279
Epoch 28/30
410893/410893 [==============================] - 97s 237us/step - loss: 0.2609 - mean_squared_error: 0.2609 - mean_absolute_error: 0.3922 - val_loss: 0.3211 - val_mean_squared_error: 0.3211 - val_mean_absolute_error: 0.4317
Epoch 29/30
410893/410893 [==============================] - 96s 233us/step - loss: 0.2604 - mean_squared_error: 0.2604 - mean_absolute_error: 0.3917 - val_loss: 0.2884 - val_mean_squared_error: 0.2884 - val_mean_absolute_error: 0.4110
Epoch 30/30
410893/410893 [==============================] - 101s 245us/step - loss: 0.2592 - mean_squared_error: 0.2592 - mean_absolute_error: 0.3906 - val_loss: 0.3036 - val_mean_squared_error: 0.3036 - val_mean_absolute_error: 0.4373 - ETA: 1s - loss: 0.2592 - mean_squared_error: 0.

In [39]:
test_data = pd.read_csv("test.csv")

In [40]:
meal_info = pd.read_csv("meal_info.csv")
fulfilment_center_info = pd.read_csv("fulfilment_center_info.csv")

In [41]:
test_data = test_data.merge(meal_info,on='meal_id', how = 'left')
test_data = test_data.merge(fulfilment_center_info, on='center_id', how = 'left')

In [42]:
test_data

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,category,cuisine,city_code,region_code,center_type,op_area
0,1028232,146,55,1885,158.11,159.11,0,0,Beverages,Thai,647,56,TYPE_C,2.0
1,1127204,146,55,1993,160.11,159.11,0,0,Beverages,Thai,647,56,TYPE_C,2.0
2,1212707,146,55,2539,157.14,159.14,0,0,Beverages,Thai,647,56,TYPE_C,2.0
3,1082698,146,55,2631,162.02,162.02,0,0,Beverages,Indian,647,56,TYPE_C,2.0
4,1400926,146,55,1248,163.93,163.93,0,0,Beverages,Indian,647,56,TYPE_C,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,1250239,155,61,1543,482.09,484.09,0,0,Desert,Indian,473,77,TYPE_A,4.5
32569,1039516,155,61,2304,483.09,483.09,0,0,Desert,Indian,473,77,TYPE_A,4.5
32570,1158107,155,61,2664,322.07,323.07,0,0,Salad,Italian,473,77,TYPE_A,4.5
32571,1444235,155,61,2569,322.07,323.07,0,0,Salad,Italian,473,77,TYPE_A,4.5
32572,1291286,155,61,2490,276.45,276.45,0,0,Salad,Italian,473,77,TYPE_A,4.5

In [43]:
def one_hot_encode(features_to_encode, dataset):
    encoder = OneHotEncoder(sparse=False)
    encoder.fit(dataset[features_to_encode])

    encoded_cols = pd.DataFrame(encoder.transform(dataset[features_to_encode]),columns=encoder.get_feature_names())
    dataset = dataset.drop(columns=features_to_encode)
    for cols in encoded_cols.columns:
        dataset[cols] = encoded_cols[cols]
    return dataset

In [44]:
test_data = test_data.drop(["id"],axis=1)
features_to_encode = ['meal_id','city_code',"center_id",'center_type', 'category', 'cuisine']
test_data = one_hot_encode(features_to_encode, test_data)
# y = test_data["num_orders"]
# X = test_data.drop(["num_orders"],axis = 1)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [45]:
test_data

,week,checkout_price,base_price,emailer_for_promotion,homepage_featured,region_code,op_area,x0_1062,x0_1109,x0_1198,...,x4_Rice Bowl,x4_Salad,x4_Sandwich,x4_Seafood,x4_Soup,x4_Starters,x5_Continental,x5_Indian,x5_Italian,x5_Thai
0,146,158.11,159.11,0,0,56,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,146,160.11,159.11,0,0,56,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,146,157.14,159.14,0,0,56,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,146,162.02,162.02,0,0,56,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,146,163.93,163.93,0,0,56,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32568,155,482.09,484.09,0,0,77,4.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32569,155,483.09,483.09,0,0,77,4.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32570,155,322.07,323.07,0,0,77,4.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32571,155,322.07,323.07,0,0,77,4.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
32572,155,276.45,276.45,0,0,77,4.5,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
test_pred = model.predict(test_data)

In [47]:
test_pred

array([[5.0318375],
       [5.0667276],
       [4.553112 ],
       ...,
       [5.979883 ],
       [5.895279 ],
       [5.271043 ]], dtype=float32)

In [48]:
test_pred1 = np.exp(test_pred)

In [49]:
test_pred1

array([[153.21428],
       [158.6543 ],
       [ 94.92737],
       ...,
       [395.3942 ],
       [363.31818],
       [194.6188 ]], dtype=float32)

In [50]:
dataframe = pd.read_csv("test.csv")

In [51]:
Result=pd.DataFrame(test_pred1)
#Result=np.expm1(Result).astype('int64')
Submission = pd.DataFrame(columns=['id', 'num_orders'])
Submission['id'] = dataframe['id']
Submission['num_orders'] = Result.values
Submission.to_csv('Submission_neuralnetwork1.csv', index=False)